[submodule "problems/spring-2026-selection-2e99-binary-search-fc55"]
	path = problems/spring-2026-selection-2e99-binary-search-fc55
	url = https://github.com/testorganizationthu/spring-2026-selection-2e99-binary-search-fc55.git
